{% for vhost in nginx_vhosts %}
server {
    listen {{ vhost.listen | default('80 default_server') }};

{% if vhost.listen_ipv6 is defined %}
    listen {{ vhost.listen_ipv6 }};
{% endif %}

{% if vhost.server_name is defined %}
    server_name {{ vhost.server_name }};
{% endif %}

{% if vhost.root is defined %}
    root {{ vhost.root }};
{% endif %}

    index {{ vhost.index | default('index.html index.htm') }};

location / {
        # try to serve file directly, fallback to app.php
        try_files $uri /app.php$is_args$args;
        }

location ~ ^/(app_dev|config)\.php(/|$) {
        fastcgi_pass {{ nginx_fastcgi_ipport }};
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
         fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
        }

location ~ ^/app\.php(/|$) {
        fastcgi_pass {{ nginx_fastcgi_ipport }};
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
       fastcgi_param DOCUMENT_ROOT $realpath_root;
      }

{% if vhost.error_page is defined %}
    error_page {{ vhost.error_page }};
{% endif %}

{% if vhost.access_log is defined %}
    access_log {{ vhost.access_log }};
{% endif %}
{% if vhost.error_log is defined %}
    error_log {{ vhost.error_log }};
{% endif %}

{% if vhost.return is defined %}
    return {{ vhost.return }};
{% endif %}

{% if vhost.extra_parameters is defined %}
    {{ vhost.extra_parameters|indent(4) }};
{% endif %}
}
{% endfor %}