{% for vhost in nginx_vhosts %}
server {
    listen {{ nginx_vhost_listen | default('80 default_server') }};

{% if nginx_vhost_listen_ipv6 is defined %}
    listen {{ nginx_vhost_listen_ipv6 }};
{% endif %}

{% if nginx_vhost_server_name is defined %}
    server_name {{ nginx_vhost_server_name }};
{% endif %}

{% if nginx_vhost_root is defined %}
    root {{ nginx_vhost_root }};
{% endif %}

    index {{ nginx_vhost_index | default('index.html index.htm') }};

location / {
        # try to serve file directly, fallback to app.php
        try_files $uri /app.php$is_args$args;
        }

{% if nginx_fastcgi_ipport is defined %}
  location  {{ nginx_vhost_location }}  {
  fastcgi_split_path_info ^(.+\.php)(/.*)$;
  fastcgi_pass {{ nginx_fastcgi_ipport }};
  fastcgi_index {{ nginx_fastcgi_index}};
  include fastcgi_params;
  }
{% endif %}


{% if  nginx_vhost_error_page is defined %}
    error_page {{ nginx_vhost_error_page }};
{% endif %}

{% if nginx_vhost_access_log is defined %}
    access_log {{ nginx_vhost_access_log }};
{% endif %}
{% if nginx_vhost_error_log is defined %}
    error_log {{ nginx_vhost_error_log }};
{% endif %}

{% if nginx_vhost_return is defined %}
    return {{ nginx_vhost_return }};
{% endif %}

{% if nginx_vhost_extra_parameters is defined %}
    {{ nginx_vhost_extra_parameters|indent(4) }};
{% endif %}
}
{% endfor %}